---
import { Image } from "astro:assets";

interface Props {
	altText: string;
	title: string;
	link: string;
	imageUrl: string;
}

const { altText, title, link, imageUrl } = Astro.props;
---

<div class="flex flex-col items-start">
	<!-- <a href={link} target="_blank" rel="noreferrer"> -->
	<div class="pt-2">
		<Image src={imageUrl} alt={altText}
		width={1400}
		height={1000}
		widths={[1400, 1000, 800, 400]}
		sizes="(max-width: 400px) 400px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, 1400px"
		class="border-body/20 rounded-lg border" />		<!-- <div class="pt-1">
			<p class="text-body text-sm">{title}</p>
		</div> -->
	</div>
</div>

<!-- </a> -->

<!-- WILL ADD SOME STUFF HERE SOON -->