---
import Nowtime from "./react/NowTime.tsx";
import LastVisit from "./react/LastVisit.tsx";
---

<footer class="pt-8">
	<hr class="bg-title h-px border-0" />
	<div class="flex items-center justify-between">
		<div class="mx-1 flex gap-1 pt-4 md:mx-3">
			<span class="text-body text-xs">Last visitor from</span>
			<LastVisit client:load />
		</div>
		<div class="mx-1 flex items-center justify-between pt-4 md:mx-3">
			<Nowtime client:load />
		</div>
	</div>
</footer>
